:root {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body,
div,
header,
main,
footer,
form,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

#page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding: 16px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #000080;
}

.logo-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 8px;
}

nav > a {
  color: #fff;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#cards-container {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#cards-container > li {
  display: flex;
  padding: 8px;
  gap: 8px;
  flex-direction: column;
  border-radius: 16px;
  /* Equivalente */
  border: 1px solid #000080;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: #000080; */
}

#cards-container > li > img {
  width: 320px;
  border-radius: 8px;
  aspect-ratio: 4/3;
  display: block;
  background-color: #e8e8e8;
}

#cards-container > li > h3 {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  color: #000080;
}
