/* pseudo elemento raiz dos estilos CSS */
:root {
  font-size: 20px;
}

html {
  height: 100vh;
}

body {
  color: white;
  background-color: rgba(100, 58, 138);
  font-family: Arial, Tahoma, Verdana, sans-serif;
  /* font-size: 100px; */
  /* text-align: center; */
}

table,
th,
td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
}

#bloco {
  margin: 30px;
  border: 20px solid pink;
  padding: 80px 60px 40px 20px;
  width: 200px;
  height: 25vh;
  box-sizing: border-box;
  /* background-color: rgba(94, 202, 166, 0.9); */
  /* background-image: url(https://gabrielgs.files.wordpress.com/2008/04/tux.png); */
  /* background: url(https://gabrielgs.files.wordpress.com/2008/04/tux.png)
    rgb(41, 128, 99); */
  font-size: 20px;
}

#bloco * {
  font-size: 2rem;
}

#bloco div {
  font-size: 2rem;
}

ul {
  list-style: square;
}

ol {
  list-style: lower-roman;
}
